
.container1{
    margin-top: 1000px;
    margin-bottom: 100px;
}
.firstBoard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  grid-gap: 0px;
  margin-right: 350px;
  margin-left: 350px;
  margin-bottom: 100px;

}

.wbbcol{
    content: "";
    padding: 0, 0, 0, 0;
    margin: 0 !important;
    /* display: block; */
    overflow: hidden; width: 100%
}

.wbb{
    margin: 2px !important;
}

.wbrow{
    padding: 0;
    margin: 2px !important;
}

.reset {
    box-shadow: 0 0 8px #313543;
    background-color: gray;
    font-family: 'Courier New', monospace, bold;
    justify-self: center;
    color: white;
}

input[type='checkbox'] {
    accent-color: black;
    width: 30px;
    height: 30px;
}
/* .big-checkbox {width: 30px; height: 30px;} */





