.App {
  text-align: center;
}

.wb {
  height: 40vmin;
  pointer-events: none;
}
.bb {
  height: 40vmin;
  pointer-events: none;
}

.title {
  font-family: 'Courier New', monospace;
}

.begin {
  box-shadow: 0 0 8px #313543;
  background-color: gray;
  font-family: 'Courier New', monospace, bold;
  justify-self: center;
  color: white;
}



